<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Welcome to MVC demo Page</h2>
<h1 th:text="${name}" />
<h1 th:text="${city}" />
Emp id  : <span th:text="${employee.empid}" />
Name : <span th:text="${employee.name}" />
Department: <span th:text="${employee.dept}" />
<table border="1">
	<tr>
		<th>Employee Id</th>
		<th>Name </th>
		<th>Department</th>
	</tr>
	<tr th:each="emp:${employees}" >
		<td th:text="${emp.empid}" />
		<td th:text="${emp.name}" />
		<td th:text="${emp.dept}" />
	</tr>
</table>
</body>
</html>